body {
    background-color: #363636;
}

.underlined {
    text-decoration: underline;
}

.titlePage {
    color: #FFF;
}

select {
    background-color: #363636 !important;
    color: #FFF !important;
    cursor: pointer;
}


.customForm input {
    margin-bottom: 10px;
    background-color: transparent;
    color: #FFF !important;
}
.customForm input:focus {
    background-color: unset !important;
}

.customForm .form-label {
    color: #FFF;
}