.main{
    height: 500px;
}

.lesTodos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leTodo {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: grey;
}
.leTodo:hover {
    background-color: blue;
    color: #FFF;
}

.priorite {
    text-transform: capitalize;
}



.element {
    transition: all 0.5s ease-in;
    color: black;
    padding: 20px;
}
  
.highlight {
    color: #ff0000;
}
